@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #292929;
	margin: 0;
	width: 100%;
	height: 100%;
	max-width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "Lato", sans-serif;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.center-x {
	position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

:root {
	--primary-gradient: linear-gradient(
		35deg,
		hsl(218deg 94% 54%) 1%,
		hsl(212deg 100% 49%) 40%,
		hsl(210deg 100% 50%) 54%,
		hsl(209deg 100% 50%) 64%,
		hsl(207deg 100% 50%) 71%,
		hsl(205deg 100% 50%) 77%,
		hsl(203deg 100% 50%) 82%,
		hsl(202deg 100% 50%) 86%,
		hsl(200deg 100% 50%) 89%,
		hsl(199deg 100% 50%) 92%,
		hsl(197deg 100% 50%) 94%,
		hsl(196deg 100% 50%) 96%,
		hsl(195deg 100% 50%) 98%,
		hsl(193deg 100% 50%) 99%,
		hsl(192deg 100% 50%) 100%,
		hsl(192deg 100% 54%) 100%,
		hsl(192deg 99% 61%) 100%
	);

	--primary-gradient-hover: linear-gradient(
		35deg,
		hsl(218deg 91% 58%) 1%,
		hsl(212deg 95% 54%) 40%,
		hsl(207deg 100% 49%) 54%,
		hsl(206deg 100% 50%) 64%,
		hsl(204deg 100% 50%) 71%,
		hsl(203deg 100% 50%) 77%,
		hsl(201deg 100% 50%) 82%,
		hsl(200deg 100% 50%) 86%,
		hsl(199deg 100% 50%) 89%,
		hsl(197deg 100% 50%) 92%,
		hsl(196deg 100% 50%) 94%,
		hsl(194deg 100% 50%) 96%,
		hsl(194deg 99% 53%) 98%,
		hsl(194deg 97% 59%) 99%,
		hsl(194deg 96% 63%) 100%,
		hsl(193deg 94% 66%) 100%,
		hsl(192deg 93% 69%) 100%
	);
}
